@using Microsoft.AspNetCore.Components.Web

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@if (CurrentException is not null)
{
    <div class="alert alert-danger">
        <h4>Произошла ошибка</h4>
        <p>@CurrentException.Message</p>
        @if (CurrentException.StackTrace is not null)
        {
            <details>
                <summary>Детали ошибки</summary>
                <pre>@CurrentException.StackTrace</pre>
            </details>
        }
        <button class="btn btn-sm btn-outline-danger" @onclick="Recover">
            Попробовать снова
        </button>
    </div>
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public RenderFragment<Exception>? ErrorContent { get; set; }

    public Exception? CurrentException { get; private set; }

    public void Recover()
    {
        CurrentException = null;
        StateHasChanged();
    }

    public void ReportError(Exception exception)
    {
        CurrentException = exception;
        StateHasChanged();
    }
}
