@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h1 class="app-title">LZS Phyre Engine Tool v2.7</h1>
            <a href="https://github.com/TheLuxifer2023/LZS_inpack" target="_blank" class="ml-md-auto">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
